---
styles:
  inline:
    - ../styles/example-8.css
  sync:
    - /styles/example-8.css
  async:
    - /styles/example-8.css

scripts:
  inline:
    - ../scripts/example-8.js
  sync:
    - /scripts/example-8.js
  async:
    - /scripts/example-8.js
partials:
  - ../partials/example-5.tmpl
---
contents::view-group-secondary.
{{> ../partials/example-5.tmpl}}

{{{content}}}
{{ data.hello }}
