---
styles:
  inline:
    - ../styles/example-9.css
  sync:
    - /styles/example-9.css
  async:
    - /styles/example-9.css
scripts:
  inline:
    - ../scripts/example-9.js
  sync:
    - /scripts/example-9.js
  async:
    - /scripts/example-9.js
---
content::partials-example-5.
