---
styles:
  inline:
    - ../styles/example-3.css
    - ../styles/example-4.css
  sync:
    - /styles/example-3.css
    - /styles/example-4.css
  async:
    - /styles/example-3.css
    - /styles/example-4.css
---
content::partials-example-1.
