---
styles:
  inline:
    - ../styles/example-6.css
    - ../styles/example-7.css
  sync:
    - /styles/example-6.css
    - /styles/example-7.css
  async:
    - /styles/example-6.css
    - /styles/example-7.css
scripts:
  inline:
    - ../scripts/example-6.js
    - ../scripts/example-7.js
  sync:
    - /scripts/example-6.js
    - /scripts/example-7.js
  async:
    - /scripts/example-6.js
    - /scripts/example-7.js
---
content::partials-example-4.
