---
styles:
  inline:
    - ./../styles/example-3.css
    - ./../styles/example-4.css
  sync:
    - /styles/example-3.css
    - /styles/example-4.css
  async:
    - /styles/example-3.css
    - /styles/example-4.css
scripts:
  inline:
    - ./../scripts/example-3.js
    - ./../scripts/example-4.js
  sync:
    - /scripts/example-3.js
    - /scripts/example-4.js
  async:
    - /scripts/example-3.js
    - /scripts/example-4.js
partials:
  - ./../partials/example-3.tmpl
---
contents::views/sub-view-1. {{> ./../partials/example-3.tmpl}} {{ data.hello }}
